* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}
html {
	
}
body {
	/*background-color: rgba(255, 255, 255, 1.0000);*/
	background-image: url("../images/tweed.png");
}

.container {
	/*background-color: rgba(255, 255, 255, .3000);*/
	background-color: rgba(29, 31, 33, .5000);
	height: 750px;
	width: 1050px;
	margin: 20px auto;
	border-radius: 5px;
	text-align: center;
	color: white;
	position: relative;
	padding-right: 20px;
	padding-left: 20px;
}

/* EndGame overlay */
.endGame {
	background-color: rgba(29, 31, 33, .9500);
	height: 750px;
	width: 1050px;
	position: absolute;
	border-radius: 5px;
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	padding-top: 175px;
	display: none;
	left: 0;
}

.endGame #header, .endGame #close {
	font-size: 60px;
}

.endGame #total {
	font-size: 40px;
}

.stars {
	display: none;
}

/* End Round overlay */
.end_round {
	background-color: rgba(29, 31, 33, .9500);
	height: 750px;
	width: 1050px;
	position: absolute;
	border-radius: 5px;
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	padding-top: 175px;
	display: none;
	left: 0;
}

.end_round #header, .endGame #header {
	font-size: 60px;
}

.end_round button {
	border: none;
	height: 40px;
	min-width: 100px;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: white;
	background-color: rgba(165, 31, 23, .7000);
}

.end_round button:hover {
	background-color: rgba(165, 31, 23, 1.000);
}

.end_round button:focus {
	outline: none;
}

.end_round_response {
	display:none;
}



/*Instructions Overlay*/
.instructions{
	background-color: rgba(29, 31, 33, .9500);
	height: 750px;
	width: 1050px;
	position: absolute;
	left: 0;
	border-radius: 5px;
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	padding-top: 175px;
	display: none;
}


.instructions span {
	font-size: 60px;
}

.instructions button, #start_over {
	border: none;
	height: 40px;
	width: 100px;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: white;
	background-color: rgba(165, 31, 23, .7000);
}

.instructions button:hover, #start_over:hover {
	background-color: rgba(165, 31, 23, 1.000);
}

.instructions button:focus, #start_over:focus {
	outline: none;
}

/* Answer / Final Overlay */
.answer {
	position: absolute;
	min-height: 600px;
	width: 800px;
	left: 126px;
	top: 70px;
	background-color: rgba(255, 255, 255, .95);
	border: 7px solid #cfcfcf;
	color: black;
	display: none;
}

.answer_head {
	font-size: 100px;
	font-family: 'Oswald', sans-serif;
	width: 580px;
	margin: auto;
	border-bottom: 1px solid black;
}

.movie_info {
	margin-top: 15px;
	margin-left: 50px
}

.poster {
	float: left;
	padding-right: 10px;
	/*border-right: 1px solid black;*/
}

.description {
	margin-right: 50px;
	float: right;
	text-align: left;
	width: 420px;
	font-family: 'Merriweather', serif;
	font-size: 15px;
	display: none;
}

.answer button{
	border: none;
	color: white;
	font-size: 18px;
	background-color: rgba(165, 31, 23, .85000);
	float: right;
	margin-right: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
	height: 40px;
}

.answer button:hover{
	background-color: rgba(165, 31, 23, 1.0000);
}

.answer button:focus{
	outline: none;
}

/* Header Setup */

header, .logo {
	height: 180px;
}

header {
	float: left;
	width: 100%;
	padding-right: 25px;
}

/*Logo*/
.logo {
	width: 100%;
	height: 70px;
	/*border: 1px solid yellow;*/
	margin: auto;
	text-align: right;
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	font-size: 110px;
	color: black;
	float: left;
	color: white;
}

.logo span {
	font-size: 30px;
	color: #a51f17;
}

.logo_small {
}

/*Progress Bar*/

.progress {
	height: 50px;
	width: 100%;
	float: left;
	margin-top: 100px;
}


.progress_indicator {
	border-radius: 100%;
	height: 55px;
	width: 55px;
	/*background-color: #97d5cc;*/
	float: right;
	margin-left: 40px;
	border: 2px dashed #a51f17;
	font-size: 63px;
	line-height: 0px;
	text-align: center;
}

.progress_indicator i {
	margin-top: -3px;
}

.progress_correct {
	color: #a51f17;
	border: none;
	}

.progress_incorrect {
	border: 2px solid #a51f17;
	color: rgba(29, 31, 33, .8900);
	font-size: 59px;
	-moz-font-size: 63px;
}

.progress_incorrect i {
	line-height: .9;
}

#correct_circle, #incorrect_circle {
	display: none;
}

/*Audio Controls*/
.audio_controls {
	height: 40px;
	width: 100%;
	float: right;
	margin-top: 50px;
	text-align: right;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: white;
	margin-right: 20px
}

.audio_controls a{
	text-decoration: none;
	color: white;
}

#instructions_link {
	margin-right: 580px;
	font-size: 20px;
}

/* Bottom Instructions */
#clickInstructions {
	margin-right: 190px;
	font-size: 20px;
	margin-top: -50px;
}

/*Quiz Choices*/
.choices_container {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 80px;
}
.choice {
	height: 350px;
	width: 250px;
	margin-top: 20px;
	margin: auto;
	display: inline-block;
}

img {
	height: 350px;
	width: 250px;
}


/*img:hover {
	opacity: .8;
}*/

/*About Info*/
.info {
	text-align: center;
	margin: auto;
	width: 400px;
	color: white;
	font-family: 'Oswald', sans-serif;
}